/* Base */

a {
  -webkit-transition: .3s all ease;
  -o-transition: .3s all ease;
  transition: .3s all ease; }
  a:hover {
    text-decoration: none; }


.offcanvas-menu .site-wrap {
  position: absolute;
  z-index: 2;
  overflow: hidden; }
  .offcanvas-menu .site-wrap:before {
    opacity: 1;
    visibility: visible; }


.main-content {
  float: left;
  width: calc(100% - 250px);
  width: 100%;
  position: relative;
  float: none; }
  .main-content .container-fluid {
    margin-left: 0;
    margin-right: 0;
    padding-left: 0;
    padding-right: 0;
    padding-left: 15px;
    padding-right: 15px; }
  .main-content .photos .photo-item {
    position: relative; }
    .main-content .photos .photo-item:after {
      position: absolute;
      content: "";
      left: 0;
      right: 0;
      bottom: 0;
      top: 0;
      background: rgba(0, 0, 0, 0.6);
      z-index: 1;
      -webkit-transition: .3s all ease;
      -o-transition: .3s all ease;
      transition: .3s all ease;
      opacity: 0;
      visibility: hidden; }
    .main-content .photos .photo-item .photo-text-more {
      position: absolute;
      z-index: 3;
      top: 50%;
      left: 50%;
      width: 100%;
      -webkit-transform: translate(-50%, -50%);
      -ms-transform: translate(-50%, -50%);
      transform: translate(-50%, -50%);
      margin-top: 30px;
      -webkit-transition: .3s all ease;
      -o-transition: .3s all ease;
      transition: .3s all ease;
      opacity: 0;
      visibility: hidden;
      text-align: center; }
      .main-content .photos .photo-item .photo-text-more .icon {
        color: #fff;
        font-size: 20px; }
      .main-content .photos .photo-item .photo-text-more .meta {
        color: #cccccc;
        text-transform: uppercase;
        font-size: 12px; }
    .main-content .photos .photo-item img {
      width: 100%;
      -o-object-fit: cover;
      object-fit: cover;
      height: 300px;
      margin-bottom: 20px; }
      @media (max-width: 575.98px) {
        .main-content .photos .photo-item img {
          height: 200px; } }
    .main-content .photos .photo-item:hover:after {
      opacity: 1;
      visibility: visible; }
    .main-content .photos .photo-item:hover .photo-text-more {
      margin-top: 0;
      opacity: 1;
      visibility: visible; }



.gallery-top {
  height: 80%;
  width: 100%; }

.gallery-thumbs {
  height: 20%;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  padding: 10px 0; }

.gallery-thumbs .swiper-slide {
  height: 80px;
  -webkit-transition: .3s all ease;
  -o-transition: .3s all ease;
  transition: .3s all ease;
  opacity: 0.4;
  cursor: pointer;
  position: relative; }
  .gallery-thumbs .swiper-slide:before {
    content: "";
    border: 4px solid transparent;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0; }

.gallery-thumbs .swiper-slide-thumb-active,
.gallery-thumbs .swiper-slide:hover {
  opacity: 1; }
  .gallery-thumbs .swiper-slide-thumb-active:before,
  .gallery-thumbs .swiper-slide:hover:before {
    opacity: 1;
    border: 4px solid #e44985; }

.swiper-container .swiper-button-next,
.swiper-container .swiper-button-prev {
  -webkit-transition: .3s all ease;
  -o-transition: .3s all ease;
  transition: .3s all ease;
  opacity: 0;
  visibility: hidden; }

.swiper-container:hover .swiper-button-next,
.swiper-container:hover .swiper-button-prev, .swiper-container:focus .swiper-button-next,
.swiper-container:focus .swiper-button-prev {
  opacity: 1;
  visibility: visible; }

.img-info {
  position: absolute;
  bottom: 0;
  left: 0;
  max-width: 400px;
  background: #fff;
  padding: 30px;
  width: 60px;
  height: 60px;
  overflow: hidden; }
  .img-info .img-info-content {
    opacity: 0;
    visibility: hidden;
    -webkit-transition: .3s all ease;
    -o-transition: .3s all ease;
    transition: .3s all ease; }
    .img-info .img-info-content.active {
      opacity: 1;
      visibility: visible; }
  .img-info h2 {
    margin: 0;
    padding: 0;
    font-size: 18px;
    color: #000;
    margin-bottom: 20px; }
  .img-info .btn-toggle-expand {
    position: absolute;
    right: 0;
    top: 0;
    width: 60px;
    height: 60px;
    line-height: 60px;
    text-align: center;
    cursor: pointer; }
    .img-info .btn-toggle-expand.active > span {
      display: inline-block;
      position: relative;
      -webkit-transform: rotate(180deg);
      -ms-transform: rotate(180deg);
      transform: rotate(180deg); }
    .img-info .btn-toggle-expand span {
      font-size: 18px; }
  .img-info *:last-child {
    margin-bottom: 0; }

.zoom {
  position: absolute;
  width: 60px;
  height: 60px;
  background: #fff;
  color: #b3b3b3;
  bottom: 0;
  right: 0; }
  .zoom span {
    position: absolute;
    top: 50%;
    left: 50%;
    -webkit-transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%); }
  .zoom:hover {
    color: #b3b3b3; }

.style-scrollbar-sm {
  height: 100px; }
